<!-- Tab content -->
<div id="addTask" class="tabcontent">
    <form action="/action_page.php">
      <label for="tName">Task Name</label>
      <input type="text" id="tName" name="taskName" placeholder="Enter task name...">
  
      <label for="priority">Priority</label>
      <input type="text" id="priority" name="lastname" placeholder="Enter task priority..">
  
      <label for="pTaskName">Parent Task</label>
      <input type="text" id="pTaskName" name="lastname" placeholder="Enter parent task...">
  
      <label for="startDate">Start Date</label>
      <input type="text" id="priority" name="lastname" placeholder="Your Start date..">
  
      <label for="endDate">End Date</label>
      <input type="text" id="priority" name="lastname" placeholder="Your End date...">
    
      <input type="button" value="Submit">
      <input type="button" value="Reset">
    </form>
  </div>
